@charset 'UTF-8';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  transition: .2s ease-in-out;
}

body, html {
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style-type: none;
}
